/* setting our universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* setting the background color of the page */
body {
    background-color: #251e1e;
}

/* styling text within <p> tags */
p {
    font-size: 16px;
    color:white
}

/* defining float values so that we can place our images properly in the main content */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* styling our header at top of page */
header {
    padding: 20px 0px 20px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #251e13;
}

    /* styling "Mike Pizzica" text */
    header > h1 {
        display: inline-block;
        font-size: 48px;
        background-color: #b84848;
        padding: 0px 15px 0px 50px
    }

    /* styling the right header text */
    header > nav {
        list-style-type: none;
        padding-top: 15px;
        margin-right: 50px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        display: flex;
    }

        header > nav > li {
            display: flex;
            margin-left: 35px;
        }   

            header > nav > li > a {
                color: #b84848;
                text-decoration: none;
                border-bottom:#b84848 4px solid;
                ;
            }

/* main image of flutes */
div.flutes {
    height: 200px;
    margin-bottom: 25px;
    background-image: url("../images/flutes.jpeg");
    background-size: cover;
    background-position: center;
}

    /* div.flutes > h2 {
        color:white;
        background-color: #b84848;
        position: absolute;
        right: 75px;
        top: 245px;
        padding: 4px 10px 4px 10px;
        color:#251e13
    } */

main {
    padding-right: 50px;
}

    article {
        display:flex;
        flex-wrap: wrap;
        margin-bottom: 35px;
    }

        article > aside {
            flex: 1;
            text-align: right;
            border-right: 5px solid white;
        }

        article > aside > p {
            font-size:48px;
            position:relative;
            padding-right: 15px;
        }

        article > section {
            flex: 4;
            padding-left: 25px;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            display: flex;
        }

        #main-project {
            border:#b84848 solid 5px;
            flex: 0 0 100%;
            margin: 10px;
            position: relative;
        }

        #main-project header {
            padding: 20px;
            background-color: #b84848;
            position: absolute;
            bottom: 20px;
            left:-1px
        }

        .project {
            border:#b84848 solid 5px;
            flex: 0 0 50%;
            position: relative;
            flex-wrap: wrap;
        }

        .project header {
            padding: 20px;
            background-color: #b84848;
            position: absolute;
            bottom: 20px;
            left:-1px
        }

        article > section > div img {
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            main,
            article,
            .project {
                flex: 0 0 100%;
                flex-direction: column;
                margin: 10px;
                padding-right: 0px;
            }

            article > aside {
                text-align: center;
                border-bottom: white solid 5px;
                border-right: none;
            }

            article > section {
                padding-left: 0px;
            }

            header,
            nav > li {
                text-align: center;
                align-items: center;
            }